<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Toll Station 1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>Toll Rates for Station1</h1>
        <p th:text="'Your rate is: ' + ${rate} + ', number of lanes is ' + ${lanes} + ', toll start time is: ' + ${tollStart} + ', officer is: ' + ${officer}"></p>
    </div>
</div>
</body>
</html>